{{ city-map model=model
            roads=roads
            displayedTime=displayedTime
            currentCity=currentCity
}}

<div class='col-md-6'>
  {{ traffic-chart weekContent=weekContent
                   names=names
                   cities=cities
                   currentCityName=currentCityName
                   displayedTime=displayedTime
                   changeCity='changeCity'
                   setDay='setDay'
                   setHour='setHour'
  }}
</div>
